<launch>

  <!-- Valid Sensor types are SL, S7, S7S, S21, KS21, S27, and BCAM -->

  <arg name="ip_address" default="10.66.171.21" />
  <arg name="namespace"  default="multisense" />
  <arg name="nodes_prefix" default="$(arg namespace)" />

  <!-- ROS Driver -->
   <node pkg="multisense_ros" ns="$(arg namespace)" type="ros_driver" name="$(arg nodes_prefix)_driver" output="screen">
     <param name="sensor_ip"   value="$(arg ip_address)" />
  </node>

</launch>
